.input {
  width: 100px;  
  margin-top: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0.5rem; /* 8px */
  background-color: white;
  border-width: 1px;
  border-color: gray; 
  color: gray;
  font-style: semibold; 
}